fieldset {
  /* border-bottom: none;
    border-left: none;
    border-right: none; */
  border: none;
  border-top: 1px solid #fff;
  display: block;
  text-align: center;
  color: #ffd700;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  margin: 0 100px;
}

fieldset legend {
  padding: 25px 100px;
}
