.jogo {
  padding: 100px 100px 0;
  text-align: center;
  background-color: #fdfdfd;
}
.jogo figure {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
}

.jogo img {
  max-width: 400px;
}
.jogo figcaption {
  font-size: 18px;
  text-align: justify;
}

.jogo figcaption h1 {
  text-transform: uppercase;
  margin-bottom: 30px;
  /* margin: 0 100px; */
}

.jogo figcaption p {
  line-height: 25px;
}

.jogo .preco {
  margin: 0;
  color: #ff4d00;
  font-weight: 700;
}

.jogo button {
  margin: 8px 0;
  width: 180px;
  padding: 5px 0;
  background-color: #ffd700;
  border-color: #ffd700;
  border-radius: 5px;
  box-shadow: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
}
